.vscode/
cell_id/
data/test.SLX23062_AGTTCC_GTAAGGAG_HIST_R_S1_S1_L001_R1.fq.gz
data/test.SLX23062_AGTTCC_GTAAGGAG_HIST_R_S1_S1_L001_R2.fq.gz
nf_chosen_outputs/
pipeline.code-workspace
.nextflow/
.nextflow.log*
temp*/
del/
nf_tryout/
bioinf.code-workspace
